<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Summarization</title>
    <link rel="icon" type="image/x-icon" href="video-marketing.png">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <!-- AOS  -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body onload="loader()">

    <!-- loader for splash screen -->
    <div id="loading"></div>

    <!-- navbar starts here  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- With logo <img class="hero-img" src="logo.png" alt="img-project-logo" style="max-width: 200px; max-height: 32px; margin-left: -10px; ">-->
        <!-- With name --><a class="navbar-brand" href="{{ url_for('main.home') }}">Video <span class="loogo">Summarization</span></a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main.home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar ends here  -->

    <!-- content starts here -->
    <div class="container-fluid hero-content">
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 text-center" data-aos="fade-up">
                <h1>Easiest Way To Turning Content into Text.</h1>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <p class="lead muted">We welcome you here !</p>
                    
                    <div id="box">
                        <label for="freeform">Paste your link / Choose from device :</label>
                        <br><br>
                        <input type="file" id="myFile" name="file" accept=".mp4, .mkv" style="margin-left: -38px;" required>
                        <button type="submit" class="btn btn-success" value="Submit File" style="margin-left: -80px; height: 33px; border: 1px solid black; color:black ; border-radius: 11px; background-color: white;" onclick="showProgress()">Submit File</button>
                </form>
                <form action="/upload" method="post">
                    <label for="video_url">Paste a video URL:</label>
                    <input type="url" name="video_url" placeholder="https://example.com/video.mp4" required>
                    <!-- <input type="submit" class="get-started" value="Submit URL"> -->
                    <button type="submit" class="btn btn-success" value="Submit Url" style="margin-left: 25px; height: 33px; border: 1px solid black; color:black ; border-radius: 11px; background-color: white;" onclick="showProgress()">Submit url</button>

                </form>

                <div class="overlay" style="display: none;"></div>
                <div class="range" style="--p:0; display: none;">
                    <div class="range__label">Progress</div>
                  </div>                  
                

            </div>
                <br>
            </div>
            <div class="col-md-6 col-sm-12 text-center" data-aos="fade-left">
                <div class="hero-img-div">
                    <img class="hero-img" src="{{ url_for('static', filename='images/montage.png') }}"
                        alt="img-showing-money-transfer">
                </div>
            </div>
        </div>
    </div>
    <!-- here content ends here -->
    <!-- spalsh screen js -->
    <script>
        var preloader = document.getElementById("loading");
        function loader() {
            preloader.style.display = 'none';
        }
    </script>
    {% if error %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>

    <!-- aos data  -->
    <script src="https://unpkg.com/aos@3.0.0-beta.6/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 2000,
        });
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var intervalId;
    function showProgress() {
        $('.range').show();
        const overlay = document.querySelector('.overlay');
        overlay.style.display = 'block';
        intervalId = setInterval(updateProgressBar, 1000);

        function updateProgressBar() {
            $.get('/progress', function(data) {
                var progress = parseFloat(data.progress);
                console.log("inside showProgress",progress);
                if (progress >= 100) {
                    clearInterval(intervalId);
                    $('.range').css('--p', progress);
                } else {
                    $('.range').css('--p', progress);
                }
            });
        }
    }
</script>

</body>

</html>